@import "../../scss/_variable.scss";

.computer {
    position: absolute;
    top: 0px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    height: $cardHeight;
    display: inline-block;
    vertical-align: middle;
}
